
*.c linguist-language=C
*.h linguist-language=C
*.md linguist-language=Markdown linguist-documentation
*.png binary
*.drawio linguist-vendored
*.dot linguist-documentation
Makefile linguist-language=Makefile
.gitignore linguist-language=Ignore-List